.home_main {
  width: 100%;
  height: 90vh;
}
#name {
  text-align: center;
}
#name > h1 {
  font-weight: 700;
  font-size: 30px;
}
#name > p {
  font-size: 18px;
  font-weight: 300;
}
.icon > img {
  width: 30px;
  border: 1px solid black;
  background-color: black;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  padding: 10px;
}
.icon {
  display: flex;
  flex-direction: column;

  gap: 20px;
  margin-right: 20px;
}
button {
  background: none;
  border-radius: 50px;
  font-size: 15px;
  padding: 20px;
}
button > a {
  text-decoration: none;
  color: white;
}
button > a > img {
  width: 15px;
  padding-left: 10px;
}
.photo > img {
  width: 75%;
  border-radius: 50%;
}
.photo {
  width: 99%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px 0px 25px 0px;
}
.icon > img:hover {
  border: 2px solid white;
  box-shadow: 2px 2px 2px 0px;
}
@media screen and (min-width:1000px){
 #name{
  width: 45%;
  margin-left: 55px;
}
}
@media screen and (min-width:800px) {
  .home_main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content: space-around;
}
#name{
  width: 35%;
  margin-left: 55px;
}
#name > h1 {
  font-weight: 700;
  font-size: 50px;
}
#name > p {
  font-size: 18px;
  font-weight: 300;
}
.photo>img{
  width: 50%;
}
}
